vrrp_script chk_nginx {
    script "/etc/keepalived/checknginx.sh"
    interval 1
    weight 15
    rise 1
    fall 1
}

global_defs {
	vrrp_version 3
    enable_script_security
}

vrrp_instance VIP1 {

	state BACKUP
	priority 9
	advert_int 1
	interface bond0.1000
	virtual_router_id 11

    # Primary private IP used to communicate between peers
	unicast_src_ip 10.129.49.49
	unicast_peer {
        10.129.49.17
	}

	virtual_ipaddress
	{
		10.129.49.27
	}

    track_script {
        chk_nginx
    }
}

vrrp_instance VIP2 {

    state MASTER
    interface bond0.1000
    priority 21
    advert_int 1
	virtual_router_id 22

	# Primary private IP used to communicate between peers
	unicast_src_ip 10.129.49.49
	unicast_peer {
        10.129.49.17
	}
	
	virtual_ipaddress
	{
		10.129.49.28
	}
	
    track_script {
        chk_nginx
    }
}