[Unit]
Description=Thanos Sidecar
After=network.target

[Service]
User=thanos
Group=thanos
Type=simple
Restart=on-abnormal
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/thanos sidecar \
        --tsdb.path /var/prometheus \
        --prometheus.url "http://localhost:9090" \
        --http-address 0.0.0.0:19191 \
        --grpc-address 0.0.0.0:19090

[Install]
WantedBy=multi-user.target